$dark-gray: #454b52;
$gray3: #9098a1;
$gray5: #c4cad1;
$white: #ffffff;

$blue: #006ae1;
$blue2: #1468c7;
$vermilion: #b83211;

$label-font-weight: 600;

$spacing-small: 4px;
$spacing-medium-large: 12px;
$spacing-large: 16px;
$spacing-larger: 24px;