.patient-list {
  list-style-type: none;
  max-height: 100vh;
  overflow-y: auto;

  &__item {
    padding: 1em 2em;
    background-color: white;
  }

  &__name {
    text-transform: uppercase;
    color: darkgrey;
    margin-bottom: 0.5em
  }

  &__date {
    color: lightgray;
    margin: 0;
  }
}