$cm-spacing-small: 4px !default;
$cm-spacing-medium-large: 12px !default;
$cm-spacing-large: 16px !default;
$vermilion2: #b83211 !default;

$panel-max-height: calc(100vh - 63px);

.cm-panel-menu {
  list-style-type: none;
  max-height: $panel-max-height;
  overflow-y: auto;
  padding: 0;
}

.bp3-non-ideal-state {
  max-height: $panel-max-height;
  padding: 0 $cm-spacing-small;
}

.patient-fetch-error {
  color: $vermilion2;
  margin: $cm-spacing-large;
  padding: $cm-spacing-medium-large;
  border: 1px solid $vermilion2;
}